blinker==1.8.2
cachelib==0.13.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
circuitbreaker==2.0.0
click==8.1.7
cryptography==42.0.8
docx==0.2.4
Events==0.5
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Session==0.8.0
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.3.0
MarkupSafe==2.1.5
msgspec==0.18.6
numpy==2.1.0
oci==2.133.0
opensearch-py==2.7.1
pillow==10.4.0
pycparser==2.22
PyMuPDF==1.24.9
PyMuPDFb==1.24.9
pyOpenSSL==24.2.1
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytz==2024.1
redis==5.0.8
regex==2024.7.24
requests==2.32.3
six==1.16.0
tiktoken==0.7.0
urllib3==2.2.2
Werkzeug==3.0.4
